/* Define @font-face for rubikRegular
@font-face {
  font-family: 'rubikRegular';
  src: url('../fonts/rubikRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'rubikSemiBold';
  src: url('../fonts/rubikSemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'rubikItalic';
  src: url('../fonts/rubikItalic.ttf') format('truetype');
}*/